<!-- $colorSkin blue -->
<!-- $colorImagesPath assets/images/colors/blue/ -->
<!-- @include _header -->
.header-main
  <!-- @include _nav -->

.highlight-content.highlighted-image.text-center.cta-box.light
  .container
    .row
      .col-md-2
      .col-md-8
        %h1.animated.fadeInDown Highlighted Sections
        %p.animated.fadeInUp Great for attacting user attention, they come in different colors and you can set a custom background image for it.
        %a.btn.btn-clean-light.btn-lg.animated.wobble{"data-toggle" => "modal", :href => "#contactModal"} Call to Action Here
.container
  %h2.header-lined.has-sub-header.text-center Services We Offer
  %h4.sub-lined-header.text-center Another type of layout for your company features with icons located on the left of the description.
  .iconed-features.style-2
    .row
      .col-md-4
        .iconed-feature
          .row
            .col-md-4
              .feature-icon-w.animated.rollIn
                %i.icon-comments
            .col-md-8
              %h4 Customer Support
              %p Our app enables you to manage all your work – from the most complex projects to everyday tasks.
      .col-md-4
        .iconed-feature
          .row
            .col-md-4
              .feature-icon-w.animated.rollIn
                %i.icon-exchange
            .col-md-8
              %h4 Sliders Included
              %p Our app enables you to manage all your work – from the most complex projects to everyday tasks.
      .col-md-4
        .iconed-feature
          .row
            .col-md-4
              .feature-icon-w.animated.rollIn
                %i.icon-archive
            .col-md-8
              %h4 Awesome Icons
              %p Our app enables you to manage all your work – from the most complex projects to everyday tasks.
  .iconed-features.style-2
    .row
      .col-md-4
        .iconed-feature
          .row
            .col-md-4
              .feature-icon-w.animated.rollIn
                %i.icon-desktop
            .col-md-8
              %h4 Responsive
              %p Our app enables you to manage all your work – from the most complex projects to everyday tasks.
      .col-md-4
        .iconed-feature
          .row
            .col-md-4
              .feature-icon-w.animated.rollIn
                %i.icon-eye-open
            .col-md-8
              %h4 Retina Ready
              %p Our app enables you to manage all your work – from the most complex projects to everyday tasks.
      .col-md-4
        .iconed-feature
          .row
            .col-md-4
              .feature-icon-w.animated.rollIn
                %i.icon-font
            .col-md-8
              %h4 Google Fonts
              %p Our app enables you to manage all your work – from the most complex projects to everyday tasks.
.container
  .separator-shadow-top.bottom-margin
    %img{:src => "<!-- $imagesPath -->shadow-separator-wide-top.png", :alt => ""}/
  .slogan.text-center
    %h2.header-highlighted Great for Blog, Portfolio, Company Website and more
    %p Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
    .slogan-buttons
      %a.btn.btn-primary.btn-cta.btn-lg.animated-when-visible{"data-toggle" => "modal", :href => "#contactModal", "data-animation-type" => "swing"}
        Contact Us Now
  .separator-shadow-bottom.bottom-margin
    %img{:src => "<!-- $imagesPath -->shadow-separator-wide-bottom.png", :alt => ""}/

  %h2.header-lined.has-sub-header.text-center Meet the "Dream Team"
  %h4.sub-lined-header.text-center We are a small team of designers and developers who help brands with big ideas.
  .row.bottom-margin
    .col-md-3
      .team-member.animated-when-visible{ "data-animation-type" => "bounceInUp" }
        .member-avatar
          %img{:src => "<!-- $imagesPath -->team/member-1.jpg", :alt => ""}/
        %h3 Lionel Messi
        %h4 Goal Machine
        %p Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.
        .member-social
          %a{:href => "#"}
            %i.icon-facebook
          %a{:href => "#"}
            %i.icon-twitter
          %a{:href => "#"}
            %i.icon-linkedin
          %a{:href => "#"}
            %i.icon-envelope
    .col-md-3
      .team-member.animated-when-visible.delay-animation-one{ "data-animation-type" => "bounceInUp" }
        .member-avatar
          %img{:src => "<!-- $imagesPath -->team/member-2.jpg", :alt => ""}/
        %h3 David Villa
        %h4 Perfect Finisher
        %p Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.
        .member-social
          %a{:href => "#"}
            %i.icon-facebook
          %a{:href => "#"}
            %i.icon-twitter
          %a{:href => "#"}
            %i.icon-linkedin
          %a{:href => "#"}
            %i.icon-envelope
    .col-md-3
      .team-member.animated-when-visible.delay-animation-two{ "data-animation-type" => "bounceInUp" }
        .member-avatar
          %img{:src => "<!-- $imagesPath -->team/member-3.jpg", :alt => ""}/
        %h3 Andres Iniesta
        %h4 Magician
        %p Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.
        .member-social
          %a{:href => "#"}
            %i.icon-facebook
          %a{:href => "#"}
            %i.icon-twitter
          %a{:href => "#"}
            %i.icon-linkedin
          %a{:href => "#"}
            %i.icon-envelope
    .col-md-3
      .team-member.animated-when-visible.delay-animation-three{ "data-animation-type" => "bounceInUp" }
        .member-avatar
          %img{:src => "<!-- $imagesPath -->team/member-4.jpg", :alt => ""}/
        %h3 Xavi Hernandez
        %h4 Another Magician
        %p Messi started the season by lifting the Spanish Supercup with Barcelona, scoring three goals and providing two assists.
        .member-social
          %a{:href => "#"}
            %i.icon-facebook
          %a{:href => "#"}
            %i.icon-twitter
          %a{:href => "#"}
            %i.icon-linkedin
          %a{:href => "#"}
            %i.icon-envelope
  %h2.header-lined.has-sub-header.text-center Our Clients
  %h4.sub-lined-header.less-margin.text-center Our clients love us! You are welcome to become one of them.
  .clients
    .row.bottom-margin
      .col-md-2
        %img.animated-when-visible{ "data-animation-type" => "rotateInUpLeft", :src => "<!-- $imagesPath -->clients/client-6.png", :alt => ""}/
      .col-md-2
        %img.animated-when-visible.delay-animation-one{ "data-animation-type" => "rotateInUpLeft", :src => "<!-- $imagesPath -->clients/client-3.png", :alt => ""}/
      .col-md-2
        %img.animated-when-visible.delay-animation-two{ "data-animation-type" => "rotateInUpLeft", :src => "<!-- $imagesPath -->clients/client-4.png", :alt => ""}/
      .col-md-2
        %img.animated-when-visible.delay-animation-two{ "data-animation-type" => "rotateInUpRight", :src => "<!-- $imagesPath -->clients/client-5.png", :alt => ""}/
      .col-md-2
        %img.animated-when-visible.delay-animation-one{ "data-animation-type" => "rotateInUpRight", :src => "<!-- $imagesPath -->clients/client-3.png", :alt => ""}/
      .col-md-2
        %img.animated-when-visible{ "data-animation-type" => "rotateInUpRight", :src => "<!-- $imagesPath -->clients/client-6.png", :alt => ""}/
.highlight-content.bottom-margin.light
  #carousel-testimonials.carousel.slide
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-testimonials"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-testimonials"}
    / Wrapper for slides
    .carousel-inner
      .item.active
        .container
          .testimonial
            .testimonial-icon
              %i.icon-quote-left
            %p "This is an absolutely beautiful template, easy to work with, easy to customize, lots of feature. I am glad I bought it and I will definitely recommend it to my freiends and coworkers!"
            .testimonial-by Thomas Mayers - Yorkshire Foundation
      .item
        .container
          .testimonial
            .testimonial-icon
              %i.icon-quote-left
            %p "This is an absolutely beautiful template, easy to work with, easy to customize, lots of feature. I am glad I bought it and I will definitely recommend it to my freiends and coworkers!"
            .testimonial-by Thomas Mayers - Yorkshire Foundation
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-testimonials"}
      %span.icon-prev
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-testimonials"}
      %span.icon-next
.container
  %h2.header-lined.has-sub-header.text-center Our Skills
  %h4.sub-lined-header.text-center We can do more than you might think, we are awesome and we can make you awewsome.
  .row
    .col-md-3
      .skill
        %input.dial{:type => "text", :value => "90", "data-linecap" => "round", "data-thickness" => ".2", "data-fgColor" => "#87ceeb" }/
        %h4 Web Design
    .col-md-3
      .skill
        %input.dial{:type => "text", :value => "70", "data-linecap" => "round", "data-thickness" => ".2", "data-fgColor" => "#34bab3" }/
        %h4 Graphic Design
    .col-md-3
      .skill
        %input.dial{:type => "text", :value => "85", "data-linecap" => "round", "data-thickness" => ".2", "data-fgColor" => "#e3ce9f" }/
        %h4 Photoshop
    .col-md-3
      .skill
        %input.dial{:type => "text", :value => "65", "data-linecap" => "round", "data-thickness" => ".2", "data-fgColor" => "#d74681" }/
        %h4 SEO / Marketing
<!-- @include _footer -->