<!-- $colorSkin blue -->
<!-- $colorImagesPath assets/images/colors/blue/ -->
<!-- @include _header -->
.header-main
  <!-- @include _nav -->
.separator-shadow-bottom.bottom-margin
  %img{:src => "<!-- $imagesPath -->shadow-separator-wide-bottom.png", :alt => ""}/
.container
  .row.post-loop
    .col-md-2.col-md-offset-1
      .post-loop-author-info
        .author-avatar
          %img{:src => "<!-- $imagesPath -->team/member-2.jpg", :alt => ""}/
        .author-meta
          %h4.author-name by David Villa
          %i.icon-time
          17 Nov, 2013
    .col-md-8
      .post-loop-content
        %h2.has-sub-header
          %a{:href => "post.html"} Amazing Template
        .post-loop-meta
          %span.hidden-mobile-ib
            %i.icon-reorder
            in
            %a{:href => "#"} Web Development
          %span
            %i.icon-bookmark
            10 min read
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-comments
              24
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-heart
              15
        %p
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        .under-post
          .post-social
            %span.social-label SHARE:
            %a.social-link{:href => "#"}
              %i.icon-facebook
            %a.social-link{:href => "#"}
              %i.icon-twitter
            %a.social-link{:href => "#"}
              %i.icon-linkedin
            %a.social-link{:href => "#"}
              %i.icon-envelope
  .row.post-loop
    .col-md-2.col-md-offset-1
      .post-loop-author-info
        .author-avatar
          %img{:src => "<!-- $imagesPath -->team/member-1.jpg", :alt => ""}/
        .author-meta
          %h4.author-name by Victor Valdes
          %i.icon-time
          15 Nov, 2013
    .col-md-8
      .post-loop-content
        %h2.has-sub-header
          %a{:href => "post.html"} Responsive Layout
        .post-loop-meta
          %span.hidden-mobile-ib
            %i.icon-reorder
            in
            %a{:href => "#"} Graphic Design
          %span
            %i.icon-bookmark
            10 min read
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-comments
              24
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-heart
              15
        %p
          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
        .under-post
          .post-social
            %span.social-label SHARE:
            %a.social-link{:href => "#"}
              %i.icon-facebook
            %a.social-link{:href => "#"}
              %i.icon-twitter
            %a.social-link{:href => "#"}
              %i.icon-linkedin
            %a.social-link{:href => "#"}
              %i.icon-envelope
  .row.post-loop
    .col-md-2.col-md-offset-1
      .post-loop-author-info
        .author-avatar
          %img{:src => "<!-- $imagesPath -->team/member-4.jpg", :alt => ""}/
        .author-meta
          %h4.author-name by David Villa
          %i.icon-time
          12 Nov, 2013
    .col-md-8
      .post-loop-content
        %h2.has-sub-header
          %a{:href => "post.html"} Clean and Modern Look
        .post-loop-meta
          %span.hidden-mobile-ib
            %i.icon-reorder
            in
            %a{:href => "#"} Web Development
          %span
            %i.icon-bookmark
            10 min read
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-comments
              24
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-heart
              15
        %p
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        .under-post
          .post-social
            %span.social-label SHARE:
            %a.social-link{:href => "#"}
              %i.icon-facebook
            %a.social-link{:href => "#"}
              %i.icon-twitter
            %a.social-link{:href => "#"}
              %i.icon-linkedin
            %a.social-link{:href => "#"}
              %i.icon-envelope
  .row.post-loop
    .col-md-2.col-md-offset-1
      .post-loop-author-info
        .author-avatar
          %img{:src => "<!-- $imagesPath -->team/member-1.jpg", :alt => ""}/
        .author-meta
          %h4.author-name by Victor Valdes
          %i.icon-time
          15 Nov, 2013
    .col-md-8
      .post-loop-content
        %h2.has-sub-header
          %a{:href => "post.html"} Responsive Layout
        .post-loop-meta
          %span.hidden-mobile-ib
            %i.icon-reorder
            in
            %a{:href => "#"} Graphic Design
          %span
            %i.icon-bookmark
            10 min read
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-comments
              24
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-heart
              15
        %p
          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas.
        .under-post
          .post-social
            %span.social-label SHARE:
            %a.social-link{:href => "#"}
              %i.icon-facebook
            %a.social-link{:href => "#"}
              %i.icon-twitter
            %a.social-link{:href => "#"}
              %i.icon-linkedin
            %a.social-link{:href => "#"}
              %i.icon-envelope
  .row.post-loop
    .col-md-2.col-md-offset-1
      .post-loop-author-info
        .author-avatar
          %img{:src => "<!-- $imagesPath -->team/member-4.jpg", :alt => ""}/
        .author-meta
          %h4.author-name by David Villa
          %i.icon-time
          12 Nov, 2013
    .col-md-8
      .post-loop-content
        %h2.has-sub-header
          %a{:href => "post.html"} Amazing Template
        .post-loop-meta
          %span.hidden-mobile-ib
            %i.icon-reorder
            in
            %a{:href => "#"} Web Development
          %span
            %i.icon-bookmark
            10 min read
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-comments
              24
          %span.hidden-mobile-ib
            %a{:href => "#"}
              %i.icon-heart
              15
        %p
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        .under-post
          .post-social
            %span.social-label SHARE:
            %a.social-link{:href => "#"}
              %i.icon-facebook
            %a.social-link{:href => "#"}
              %i.icon-twitter
            %a.social-link{:href => "#"}
              %i.icon-linkedin
            %a.social-link{:href => "#"}
              %i.icon-envelope
<!-- @include _footer -->