<!-- $colorSkin blue -->
<!-- $colorImagesPath assets/images/colors/blue/ -->
<!-- @include _header -->
.header-main
  <!-- @include _nav -->
.container
  .separator-shadow-bottom.bottom-margin
    %img{:src => "<!-- $imagesPath -->shadow-separator-wide-bottom.png", :alt => ""}/
  .slogan
    %h1 Clean Filtered Portfolio
    %h3 Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains.
    .slogan-buttons
      %a.btn.btn-default.btn-cta.animated.swing{"data-toggle" => "modal", :href => "#contactModal"}
        Contact Us
.container
  %ul.portfolio-filters.text-center
    %li
      %a{"data-filter" => "*", :href => "#"} show all
    %li
      %a{"data-filter" => ".filter-design", :href => "#"} design
    %li
      %a{"data-filter" => ".filter-development", :href => "#"} development
    %li
      %a{"data-filter" => ".filter-logo", :href => "#"} logo
    %li
      %a{"data-filter" => ".filter-photoshop", :href => "#"} photoshop
    %li
      %a{"data-filter" => ".filter-html", :href => "#"} html
  .isotope-w
    .item.filter-html.filter-logo
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/4664/screenshots/1214091/foxgrotesque.jpg", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-design
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/31752/screenshots/1214482/my-pen-and-well.png", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-design.filter-development
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/35381/screenshots/1202099/staircar_1x.png", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-design
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/23569/screenshots/1212234/prince_ink_co_long_live_print_1x.png", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-development.filter-photoshop
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/3460/screenshots/1211079/bus_illy_1x.png", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-design.filter-html.filter-logo.filter-photoshop
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/73492/screenshots/1210682/potes_1x.jpg", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-logo.filter-photoshop
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/12516/screenshots/1210825/racquet_club_numerals_1x.png", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-html.filter-logo
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/18461/screenshots/1211161/rd-pattern.png", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
    .item.filter-design.filter-photoshop
      .portfolio-item.portfolio-style-3
        .frame-browser
          %figure
            %img{:src => "http://dribbble.s3.amazonaws.com/users/12516/screenshots/1170099/ledgewood_type_1x.png", :alt => ""}/
            %figcaption
              %h5.fp-title
                %a{:href => "portfolio-single.html"} Color Picker
              .fp-content Web Development
              .fp-buttons
                %a.btn.btn-default.btn-sm.fp-details-btn{:href => "portfolio-single.html"}
                  %i.icon-file-text-alt
                  View Details
                %a.btn.btn-default.btn-sm.fp-lightbox-btn.swipebox.hidden-mobile-ib{:href => "http://cdn.pins.ms/earth_html/unsplash.jpg", :title => "Lightbox usage example"}
                  %i.icon-zoom-in
                  View Bigger
<!-- @include _footer -->