<!-- $colorSkin blue -->
<!-- $colorImagesPath assets/images/colors/blue/ -->
<!-- @include _header -->
.header-image-wrapper
  %img{:src => "http://cdn.pins.ms/earth_html/page-header-bg-1.jpg", :alt => ""}/
.header-main
  <!-- @include _nav -->
.separator-shadow-bottom.bottom-margin
  %img{:src => "<!-- $imagesPath -->shadow-separator-wide-bottom.png", :alt => ""}/
.container
  .row
    .col-md-4
      .post-side-bar
        .widget.widget-author
          .author-avatar
            %img{:src => "<!-- $imagesPath -->team/member-2.jpg", :alt => ""}/
          .author-meta
            %h4.author-name David Villa
            %p.author-bio Progressively maintain extensive infomediaries via extensible niches.
            %a.author-more{:href => "#"}
              read more posts
              %i.icon-angle-right
        .widget.widget-cats
          %h4.widget-title
            Post Categories
          %ul
            %li
              %a{:href => "#"} Web Development
            %li
              %a{:href => "#"} Web Design
            %li
              %a{:href => "#"} Marketing
            %li
              %a{:href => "#"} Photoshop
            %li
              %a{:href => "#"} Analytics
            %li
              %a{:href => "#"} Application Development
    .col-md-8
      .post-single
        .pre-post-meta
          %span
            %i.icon-reorder
            in
            %a{:href => "#"} Web Development
          %span
            %i.icon-user
            by
            %a{:href => "#"} David Villa
          %span
            %i.icon-bookmark
            10 min read
        %h1.has-sub-header Amazing Template
        .post-single-meta
          %span.meta-item
            %i.icon-time
            17 Nov, 2013
          %span.meta-item
            %a{:href => "#"}
              %i.icon-comments
              24
          %span.meta-item
            %a{:href => "#"}
              %i.icon-heart
              15
        %p
          Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
          Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
        %p
          Completely synergize resource sucking relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.
        %p
          Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.
          Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.
        %p
          Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.
          Globally incubate standards compliant channels before scalable benefits. Quickly disseminate superior deliverables whereas web-enabled applications. Quickly drive clicks-and-mortar catalysts for change before vertical architectures.
        .under-post
          .pull-right
            %a.read-next-link{:href => "#"}
              Read Next Post
              %i.icon-angle-right
          .post-social
            %span.social-label SHARE THIS POST:
            %a.social-link{:href => "#"}
              %i.icon-facebook
            %a.social-link{:href => "#"}
              %i.icon-twitter
            %a.social-link{:href => "#"}
              %i.icon-linkedin
            %a.social-link{:href => "#"}
              %i.icon-envelope
<!-- @include _footer -->